[submodule "nix"]
	path = nix
	url = git@github.com:CyanideData2/nix-config.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim"]
	path = nvim
	url = git@github.com:CyanideData2/nvim-config.git
[submodule "luasnippets"]
	path = nvim/luasnippets
	url = git@github.com:CyanideData2/snippets.git
[submodule "kanata-configs"]
	path = kanata-configs
	url = git@github.com:NullSeile/kanata-configs.git
